<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>WSClientPortlet</display-name>
	<context-param>
		<param-name>com.ibm.ws.jsf.JSP_UPDATE_CHECK</param-name>
		<param-value>true</param-value>
		<description>Monitors Faces JSP files for modifications and synchronizes a running server with
the changes without restarting the server.  If this parameter is set to false or
removed from the deployment descriptor, any changes made to Faces JSP files may
not be seen by the server until it is restarted.  This parameter is usually set
to true while the Faces JSP files are being developed and debugged in order to
improve the performance of the development environment.</description>
	</context-param>
	<context-param>
		<param-name>com.ibm.ws.jsf.LOAD_FACES_CONFIG_AT_STARTUP</param-name>
		<param-value>true</param-value>
		<description></description>
	</context-param>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	<servlet id="Servlet_1111102817203">
		<servlet-name>JS Resource Servlet</servlet-name>
		<servlet-class>
		com.ibm.faces.webapp.JSResourceServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet id="Servlet_1111102840531">
		<servlet-name>wsclientportlet.WSClientPortletPortlet</servlet-name>
		<display-name>wsclientportlet.WSClientPortletPortlet</display-name>
		<servlet-class>
		com.ibm.faces.webapp.WPFacesGenericPortlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JS Resource Servlet</servlet-name>
		<url-pattern>/.ibmjsfres/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wsclientportlet.WSClientPortletPortlet</servlet-name>
		<url-pattern>/wsclientportlet.WSClientPortletPortlet/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
